<div class="container">
  <div class="row">
    <div class="col-sm">
      Durante este tiempo he podido vender alrededor de:
      <ngx-charts-linear-gauge
      [view]="viewt"
      [scheme]="colorSchemet"
      [value]="value"
      [previousValue]="previousValue"
      (select)="onSelect($event)"
      [units]="units">
    </ngx-charts-linear-gauge>
    </div>  
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <ngx-charts-bar-vertical-2d
        [view]="view"
        [scheme]="colorScheme"
        [results]="listaBarData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-vertical-2d>
    </div>
  </div>
</div>